.loginForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 0px;
  padding-right: 0px;
}
.loginHolder {
  width: 40%;
  min-width: 375px;
  display: flex;
  justify-content: center;
  border: 2px solid #251758;
  background-color: white;
  padding: 15px;
  padding-top: 0px;
  border-radius: 15px;
}
.loginForm > h2 {
  color: #744b8e;
  padding-bottom: 10px;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  background-color: #744b8e !important;
  border-color: #744b8e !important;
  margin-top: 10px !important;
}

.btn-primary:hover {
  background-color: #9675ab !important;
  border-color: #9675ab !important;
}
.loginRow {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  padding: 25px;
}
