#container {
  width: 900px;
  height: auto;
  margin: auto;
  margin-top: 100px;
}
#mule {
  display:none;
}
.word {
  color: rgba(0,0,0,0);
  border: 1px solid grey;
  padding: 2px;
  border-radius: 5px;
  margin: 3px;
}

#song {
  line-height: 35px;
}
.ll {
  line-height: 15px;
  font-size: 12px;
}
#inputbox {
  width: 300px;
  height: 200px;
  background-color: grey;
  border: 1px solid black;
  border-radius: 15px;
  color: white;
  padding: 10px;
  position: fixed;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
#leftcol { 
  width: 65%;
  float: left;
}
#rightcol {
  width: 35%;
  float:left;
}

.name {
  position: relative;
  display: inline-block;
  width: 75%;
  line-height: 45px;
  font-size: 20px;
}

.score {
  position: relative;
  display: inline-block;
  width: 25%;
  line-height: 45px;
  font-size: 20px;
}

.row:nth-child(1) {
  background: gold;

}

.row:nth-child(2) {
  background: #c0c0c0;
}

.row:nth-child(3) {
  background: #cd7f32;
}